
.habits-container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: space-around;
}

ul{
  display: flex;
  flex-direction: column;
  height: 600px;
}
li{
  margin: 10px 0;
}